a {
  text-decoration: none;
  color: #000; }

img {
  vertical-align: top; }

ol, ul, dl {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 12px; }

b, strong {
  font-weight: normal; }

i, em {
  font-style: normal; }

input {
  outline: none; }

textarea {
  outline: none;
  resize: none; }

table {
  border-collapse: collapse; }

div, p, h1, h2, h3, h4, h5, h6, b, strong, i, em, span, a, img, ul, ol, dl, input, textarea, label, select, tbody, option, body, html, dt, dd, li {
  margin: 0;
  padding: 0; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix:after, .header:after, .menu-pad:after, .switchable-nav:after, .sch-hots-lines:after, .sm-inner:after, .screen-outer:after, .flo-item:after, .ser-links-list h5:after, .cnxh-cont-con:after, .banner-circle-wrap:after, .main-top-wra:after, .belt-con:after, .member-ft:after, .apps-nav:after, .os-con:after, .fashion-items-wra:after, .ifsthion-cont:after, .tbhc-pic-cont:after, .tbhc-links:after, .sh-wra:after, .cont2wrapper:after, .sale-cont-box:after, .helper .h-mod .mod-wra h4:after, .tb-footer-la:after, .hl-cont .swiper-container .l-mod a:after, .shop-thumbs:after {
  display: block;
  content: "";
  clear: both; }

.clearfix, .header, .menu-pad, .switchable-nav, .sch-hots-lines, .sm-inner, .screen-outer, .flo-item, .ser-links-list h5, .cnxh-cont-con, .banner-circle-wrap, .main-top-wra, .belt-con, .member-ft, .apps-nav, .os-con, .fashion-items-wra, .ifsthion-cont, .tbhc-pic-cont, .tbhc-links, .sh-wra, .cont2wrapper, .sale-cont-box, .helper .h-mod .mod-wra h4, .tb-footer-la, .hl-cont .swiper-container .l-mod a, .shop-thumbs {
  zoom: 1; }

.ab {
  position: absolute; }

.re {
  position: relative; }

.fixed {
  position: fixed;
  z-index: 400; }

body {
  color: #333;
  background: #f0efed;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

a {
  color: #6C6C6C;
  font-size: 12px; }

a:hover {
  color: #F40; }

input {
  border: none; }

button {
  border: none;
  outline: none;
  background: none; }

body {
  font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #f1f1f1;
  overflow-x: hidden; }

.header-con {
  width: 100%;
  height: 35px;
  background: #f5f5f5;
  border-bottom: 1px solid #eee; }

.inner {
  width: 1190px;
  margin: 0 auto; }

.header {
  height: 35px; }

.l-header {
  float: left; }
  .l-header li {
    line-height: 35px; }
  .l-header a {
    display: inline-block; }

.r-header {
  float: right; }
  .r-header li {
    float: left;
    padding: 0 6px; }

.log-sig, .r-nav {
  float: left; }

.log-sig a {
  margin-right: 7px;
  float: left; }

.nav-log {
  color: #F40; }
  .nav-log:hover {
    color: #F40; }

.r-nav {
  margin-left: 10px; }
  .r-nav a {
    float: left; }

.r-header a, .r-header span {
  float: left;
  line-height: 35px; }

.menu-pad {
  padding: 0 6px; }

.menu-pad-hover {
  position: relative;
  z-index: 1200;
  background: #fff; }

.nav-bd {
  position: relative;
  z-index: 1000;
  margin-top: -1px;
  display: none; }

.nav-bd-panel {
  padding: 8px 0;
  border: 1px solid #EEE;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }
  .nav-bd-panel a {
    padding: 0 5px;
    display: block;
    line-height: 28px;
    color: #6c6c6c;
    white-space: nowrap;
    width: 100%; }
    .nav-bd-panel a:hover {
      background: #F5F5F5; }

.nav-arrow {
  width: 12px;
  height: 12px;
  border-bottom: 12px solid #9c9c9c;
  border-left: 12px solid #9c9c9c; }

.nav-pipe {
  height: 35px;
  line-height: 35px;
  padding: 0 5px;
  color: #ddd; }

.nav-sitemap .nav-bd-panel {
  min-height: 258px;
  width: 1188px;
  right: -6px;
  left: auto; }

.sitemap-mod {
  float: left;
  width: 25%; }

.mod-wrap {
  padding: 5px;
  border-right: 1px solid #eee;
  overflow: hidden;
  float: left; }
  .mod-wrap h4 {
    margin: 5px;
    font-size: 16px;
    overflow: hidden;
    font-weight: 600; }

.sitemap-mod-list li {
  float: left;
  width: 24%;
  height: 25px;
  padding: 5px 0 0 0; }
  .sitemap-mod-list li a {
    position: relative;
    line-height: 25px;
    height: 25px;
    border-radius: 2px;
    color: #3c3c3c;
    width: auto;
    margin: 0 2px;
    padding: 0 8px; }
    .sitemap-mod-list li a:hover {
      color: #fff;
      background: #f50; }
    .sitemap-mod-list li a i {
      position: absolute;
      right: 0;
      top: -5px; }
  .sitemap-mod-list li .hot {
    background: url("../img/hot.gif") no-repeat;
    width: 9px;
    height: 14px; }
  .sitemap-mod-list li .new {
    background: url("../img/new.gif") no-repeat;
    width: 9px;
    height: 14px; }

.tssc-list li {
  width: 33%; }
  .tssc-list li a:hover {
    background: #a0b959; }

.jctj li {
  width: 50%; }
  .jctj li a:hover {
    background: #2e9fdb; }

.top-wrap {
  padding-top: 30px;
  background: #fff;
  width: 100%;
  height: 99px; }

.logo-wrap {
  float: left; }

h1 a {
  background: url("../img/logo.jpg") no-repeat;
  width: 145px;
  height: 58px;
  display: block;
  text-indent: -9999em; }

.search-cont {
  margin: 0 300px 0 265px; }

.switchable-nav {
  height: 25px; }
  .switchable-nav li {
    width: 50px;
    text-align: center;
    cursor: pointer;
    line-height: 25px;
    float: left; }

.search-tb {
  color: #FFF; }

.search-tb-bg {
  background: #FF5400; }

.search-tm {
  color: #F40; }
  .search-tm:hover {
    background: #F9E6E6;
    color: #C60000; }

.search-panel {
  position: relative; }

.search-panel-wrap {
  background: #F50;
  padding: 3px 0 3px 3px;
  height: 34px; }

.spw-conbox {
  background: #fff;
  position: relative; }

.spw-conbox-input {
  height: 34px;
  width: 472px; }

.spw-conbox-input input {
  padding: 6px 0;
  text-indent: 10px;
  height: 22px;
  line-height: 22px;
  width: 472px;
  background: #fff; }

.camera-bg {
  background: url("../img/sctp.png") no-repeat;
  width: 22px;
  height: 19px;
  position: absolute;
  right: 126px;
  top: 11px; }
  .camera-bg:hover {
    background-position: -22px 0; }

.sch-button {
  width: 122px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #F52B00;
  position: absolute;
  top: 0;
  right: 0; }
  .sch-button button {
    font-size: 18px;
    color: #fff; }

.sch-panel-con {
  position: relative; }

.se-details {
  position: absolute;
  right: -34px;
  top: -5px; }

.se-de-tips {
  padding-top: 6px; }
  .se-de-tips a {
    color: #666; }
    .se-de-tips a:hover {
      color: #F40; }

.search-ft {
  padding-top: 5px;
  margin-bottom: 5px; }

.sch-hots-lines li {
  line-height: 18px;
  margin-right: 8px; }

.hots-fline {
  float: left; }

.sch-hots-lines .monre-icon-wra {
  margin: 0  0 0 48px; }

.h {
  color: #F40 !important; }

.in-wra {
  position: relative; }

.tbh-load {
  position: absolute;
  right: 0;
  top: 0; }

.qr {
  position: relative;
  width: 94px;
  height: 112px;
  display: block;
  border: 1px solid #eee;
  z-index: 2;
  background: #fff; }

.qr-bd {
  text-align: center;
  display: block; }
  .qr-bd span {
    line-height: 20px;
    margin: 4px auto 0;
    width: 78px; }
  .qr-bd img {
    width: 80px;
    height: 80px; }

.close-icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  position: absolute;
  border: 1px solid #eee;
  top: 0;
  left: -20px;
  text-align: center; }

.tbh-nav {
  background: #fff;
  padding-bottom: 1px; }

.sm-inner {
  width: 990px;
  margin: 0 auto;
  height: 34px;
  padding-left: 200px; }

.nav-bd-tjt {
  float: left;
  margin-top: 4px; }
  .nav-bd-tjt .nav-pipe {
    float: left;
    font-size: 16px;
    line-height: 28px;
    height: 28px; }
  .nav-bd-tjt .li-hv {
    padding: 0 4px;
    float: left;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    margin: 0 3px; }
    .nav-bd-tjt .li-hv:hover {
      background: #F40;
      border-radius: 13px; }
      .nav-bd-tjt .li-hv:hover a {
        color: #fff; }
    .nav-bd-tjt .li-hv a {
      color: #F40;
      font-size: 16px; }

.nav-hs-tds li.li-hv a {
  color: #3C3C3C; }

.screen-outer {
  height: 598px;
  margin-top: 10px; }
  .screen-outer .main {
    float: left;
    width: 900px;
    height: 100%; }
  .screen-outer .col-right {
    float: right; }

.thb-service, .m-banner, .sub-column {
  float: left; }

.thb-service {
  width: 190px;
  margin-top: -44px;
  font-size: 14px; }

.service-nav {
  background: #FF6537;
  width: 100%;
  height: 555px;
  color: #fff;
  position: relative; }

.ser-tit {
  height: 35px;
  line-height: 35px;
  text-indent: 10px; }
  .ser-tit a {
    display: block; }
  .ser-tit h2 {
    color: #fff;
    font-size: 14px;
    font-weight: bold; }

.ser-nav-list li {
  line-height: 30px;
  height: 30px;
  padding: 0 10px; }
  .ser-nav-list li:hover {
    background: #f94a14; }

.on {
  background: #f94a14; }

.tbh-tab {
  width: 134px;
  height: 27px;
  overflow: hidden; }
  .tbh-tab a {
    color: #fff;
    font-size: 13px;
    font-weight: 700; }
    .tbh-tab a:hover {
      text-decoration: underline; }

.zbys::after {
  content: "";
  width: 10px;
  height: 12px;
  margin-left: 2px;
  display: inline-block;
  background: url("../img/yh.png") no-repeat; }

.ser-ft {
  height: 40px; }
  .ser-ft img {
    width: 190px;
    height: 40px; }

.nav-flow-con {
  display: block; }

.ser-flow {
  display: none;
  width: 692px;
  height: 518px;
  position: absolute;
  left: 188px;
  top: 33px;
  border: 2px solid #F94A14;
  background: #fff;
  color: #333;
  box-shadow: 2px 2px 0 #dcdadb;
  z-index: 20;
  padding: 0 0 0 18px; }

.ser-links {
  padding-top: 25px;
  width: 427px;
  height: 475px;
  padding-right: 10px;
  float: left; }

.ser-links-list h5 {
  height: 28px;
  line-height: 28px;
  border-bottom: 1px solid #e0e0e0; }

.sll-t {
  float: left;
  color: #3C3C3C; }
  .sll-t:hover {
    color: #F40; }
  .sll-t img {
    width: 28px;
    height: 28px; }
  .sll-t strong {
    font-size: 14px;
    font-weight: bold; }

.mo-r {
  float: right; }

.ser-links-list p {
  height: 94px;
  padding: 8px 0;
  line-height: 24px;
  margin-bottom: 22px;
  overflow: hidden; }
  .ser-links-list p a {
    margin-right: 12px;
    white-space: nowrap; }

.ser-rec {
  float: left;
  background: #f4f4f4;
  height: 479px;
  width: 240px;
  padding: 32px 0 7px 15px;
  text-align: center; }
  .ser-rec h3 {
    font-size: 14px;
    color: #3c3c3c;
    text-align: center;
    line-height: 20px;
    margin-left: 30px;
    position: relative;
    border-top: 1px solid #e6e6e6;
    width: 180px; }
    .ser-rec h3 .cnxh-tit {
      position: absolute;
      background: #f4f4f4;
      width: 114px;
      left: 35px;
      top: -12px; }
  .ser-rec .desc {
    margin-top: 6px;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    color: #999; }

.cnxh-cont-con {
  margin-top: 18px;
  min-height: 380px; }

.cnxh-cont-con a {
  display: block;
  width: 110px;
  height: 110px;
  background: #F5F5F5;
  margin-right: 8px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  float: left; }
  .cnxh-cont-con a img {
    width: 110px;
    height: 110px; }
  .cnxh-cont-con a .dg-name {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    line-height: 24px;
    height: 24px;
    padding: 0 4px;
    overflow: hidden;
    color: #666;
    text-align: center;
    left: 0; }
    .cnxh-cont-con a .dg-name:hover {
      color: #F40; }

.m-banner {
  width: 520px;
  overflow: hidden;
  float: left;
  margin-left: 10px; }
  .m-banner .swiper-slide {
    height: 280px;
    cursor: pointer; }

.swiper-button-next, .swiper-button-prev {
  width: 26px;
  height: 24px; }

.sub-column {
  height: 230px;
  margin-top: 1px;
  width: 100%; }

.tm-bg {
  font-size: 14px;
  height: 26px;
  border-bottom: 2px solid #c12c26;
  position: relative; }
  .tm-bg .tmbg {
    background: url("../img/tmbg.gif") no-repeat -4px bottom;
    width: 58px;
    line-height: 35px;
    font-weight: 700;
    padding-left: 52px; }
  .tm-bg em {
    font-size: 12px;
    color: #666;
    margin-left: 6px; }
  .tm-bg strong {
    position: absolute;
    right: 0;
    bottom: -2px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400; }
    .tm-bg strong i {
      color: #c12c26; }

.tm-banner-brand {
  position: relative;
  width: 520px;
  height: 201px;
  overflow: hidden;
  background: #fff; }

.sml-ban {
  width: 16px;
  height: 26px;
  position: absolute;
  top: 50%;
  background: rgba(0, 0, 0, 0.3);
  margin-top: -13px;
  z-index: 2;
  cursor: pointer; }

.aml-ban-r {
  right: 0; }

.activeBtn {
  background: rgba(0, 0, 0, 0.1); }

.sml-banner {
  width: 4160px;
  position: absolute;
  left: 0;
  top: 0; }
  .sml-banner li {
    float: left;
    overflow: hidden;
    width: 520px;
    height: 201px; }
    .sml-banner li a {
      float: left; }

.cd-wrapper {
  padding: 16px 10px 26px; }
  .cd-wrapper a {
    float: left;
    padding: 5px; }
    .cd-wrapper a img {
      height: 148px; }

.banner-circle-wrap {
  position: absolute;
  bottom: 12px;
  left: 50%;
  margin-left: -55px;
  border-radius: 10px; }
  .banner-circle-wrap li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #888;
    margin-left: 5px;
    float: left; }
    .banner-circle-wrap li a {
      float: left; }

.sml-banner-sports a {
  border-right: 1px solid #ebebeb; }
  .sml-banner-sports a img {
    width: 100%; }
.sml-banner-sports .last-line {
  margin-right: -4px; }

.sml-banner-brands a {
  padding: 5px 0;
  width: 129px;
  height: 57px;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
  text-align: center; }

.sml-wrapper {
  padding: 6px 0; }
  .sml-wrapper a {
    width: 251px;
    height: 190px;
    margin-left: 6px; }
    .sml-wrapper a img {
      width: 100%;
      height: 100%; }

.sml-wrapper-col1 a {
  width: 173px;
  border-left: 1px solid #ebebeb;
  margin-left: -1px;
  border-bottom: 1px solid #ebebeb;
  height: 100px;
  overflow: hidden; }
.sml-wrapper-col1 .hx {
  height: 201px; }

.col-right {
  margin-right: 10px;
  width: 160px; }

.md-jrrm {
  margin-top: 6px; }
  .md-jrrm h5 {
    font-size: 12px;
    font-weight: 400;
    color: #a1a1a1;
    line-height: 24px; }

.thb-belt {
  width: 890px; }

.belt-con {
  background: #fff;
  margin-top: 10px;
  height: 76px; }
  .belt-con a {
    float: left;
    width: 178px;
    height: 74px;
    color: #9a745f;
    float: left;
    font-size: 12px; }
    .belt-con a em, .belt-con a span, .belt-con a strong {
      display: block; }
    .belt-con a img {
      height: 60px;
      width: 60px;
      margin: 8px 8px 0 10px;
      border: 1px solid #ededed;
      border-radius: 50%;
      float: left; }
    .belt-con a strong {
      height: 24px;
      margin-top: 6px;
      font-size: 16px; }
    .belt-con a span {
      display: block;
      overflow: hidden;
      line-height: 16px;
      height: 16px; }
    .belt-con a em {
      color: #999;
      margin-top: 6px; }

.slide-right {
  float: right;
  width: 290px;
  height: 100%; }

.member {
  background: url("../img/bg2.png") no-repeat;
  background-size: 290px;
  width: 100%;
  height: 137px;
  padding: 15px;
  width: 268px;
  border-bottom: 1px solid #EEE; }

.member-cont {
  text-align: center; }
  .member-cont .member-home {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden; }
  .member-cont .member-nick-info {
    display: block;
    margin-top: -2px;
    margin-bottom: 2px; }
  .member-cont a {
    height: 20px;
    line-height: 20px; }

.member-ft {
  height: 25px; }
  .member-ft a {
    width: 82px;
    float: left;
    line-height: 25px;
    margin-right: 7px;
    color: #fff;
    border-radius: 1px;
    background: #f40;
    font-size: 14px;
    font-weight: 700;
    text-align: center; }

.thb-notice {
  width: 290px;
  height: 98px;
  margin-top: 1px;
  padding-top: 7px;
  padding-bottom: 4px;
  background: #fff; }
  .thb-notice .notice-tit {
    height: 24px;
    margin: 4px -2px  20px 0;
    padding: 0 8px; }
    .thb-notice .notice-tit li {
      float: left;
      line-height: 22px;
      width: 39px;
      text-align: center;
      margin: 0 8px; }

.selected {
  font-weight: 700;
  border-bottom: 2px solid #F40; }

.notice-box .show {
  display: block; }
.notice-box ul {
  margin: -10px 0 0 10px;
  display: none; }

.rem-young {
  line-height: 25px; }

.tbh-loaded {
  background: #fff; }

.tb-functon {
  background: #fff; }

.tb-fun-wrap {
  border-top: 1px solid #EAEAEA;
  height: 200px; }

.tb-fun-list {
  width: 294px; }

.tb-fun-list li {
  width: 71px;
  float: left;
  height: 67px;
  border: 1px solid #eaeaea;
  border-left-color: transparent;
  border-top-color: transparent; }
  .tb-fun-list li a {
    display: block;
    padding-top: 1px;
    text-align: center; }
    .tb-fun-list li a span {
      display: inline-block;
      height: 24px;
      width: 24px;
      margin-top: 11px;
      background: url("../img/icon-link.png") no-repeat; }
    .tb-fun-list li a .mon-icon2 {
      background-position: 0 -44px; }
    .tb-fun-list li a .mon-icon3 {
      background-position: 0 -85px; }
    .tb-fun-list li a .mon-icon4 {
      background-position: 0 -132px; }
    .tb-fun-list li a .mon-icon5 {
      background-position: 0 -176px; }
    .tb-fun-list li a .mon-icon6 {
      background-position: 0 -220px; }
    .tb-fun-list li a .mon-icon7 {
      background-position: 0 -1052px; }
    .tb-fun-list li a .mon-icon8 {
      background-position: 0 -308px; }
    .tb-fun-list li a .mon-icon9 {
      background-position: 0 -352px; }
    .tb-fun-list li a .mon-icon10 {
      background-position: 0 -396px; }
    .tb-fun-list li a .mon-icon11 {
      background-position: 0 -440px; }
    .tb-fun-list li a .mon-icon12 {
      background-position: 0 -1146px; }

.tb-fun-wrap {
  position: relative; }

.tb-fun-list .onsel {
  position: relative;
  border: 1px solid #f40;
  z-index: 11; }
  .tb-fun-list .onsel a {
    position: relative;
    z-index: 11;
    background: #fff;
    height: 69px; }

.tb-fn-box {
  position: absolute;
  left: 0;
  width: 290px;
  height: 150px;
  background: #fff;
  border: 1px solid #f40;
  top: 68px;
  z-index: 8;
  display: none; }
  .tb-fn-box .fn-close {
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    line-height: 18px;
    height: 18px;
    font-size: 18px;
    color: #999; }

.fn-item {
  padding-top: 2px; }

.con-item-cont {
  padding: 0 15px;
  width: 278px;
  height: 155px;
  overflow: hidden; }

.charge-main {
  position: relative; }

.charge-tabs {
  height: 26px;
  line-height: 26px; }
  .charge-tabs a {
    padding: 3px 10px;
    color: #666; }

.charge-box {
  width: 9999px;
  position: absolute;
  left: 0; }
  .charge-box li {
    float: left;
    width: 300px;
    padding-top: 4px;
    color: #333; }

.ali-app {
  background: #fff;
  margin-top: 2px;
  position: relative;
  z-index: 2; }

.ali-app-wrapper {
  padding: 6px 0 0 13px;
  height: 110px; }
  .ali-app-wrapper h3 {
    font-size: 14px;
    height: 20px;
    font-weight: 700;
    position: relative; }
    .ali-app-wrapper h3 a {
      position: absolute;
      right: 10px;
      font-weight: 400; }

.apps-nav {
  height: 84px;
  padding-top: 6px; }
  .apps-nav li {
    float: left;
    margin-right: 21px;
    margin-bottom: 8px;
    width: 32px;
    height: 32px; }
    .apps-nav li img {
      width: 100%; }

.of2shop-tit {
  background: url("../img/icon-link.png") no-repeat center -604px;
  margin-top: 15px;
  height: 37px;
  position: relative; }
  .of2shop-tit a {
    line-height: 20px;
    border-radius: 10px;
    font-weight: 300;
    padding: 0 9px 0 14px;
    position: absolute;
    right: 12px;
    bottom: 4px;
    background: #fff; }
    .of2shop-tit a:hover {
      background: #f40;
      color: #fff; }

.c2main {
  width: 890px;
  float: left; }

.os-item1 {
  margin-bottom: 9px;
  height: 362px;
  width: 440px;
  float: left;
  background: #fff; }

.like1 {
  margin-right: 10px; }

.fl-sidebar {
  float: left;
  width: 100px; }

.fr-sidebar {
  float: right;
  width: 340px; }

.fl-logo i {
  text-indent: -999em;
  display: block;
  position: absolute; }

.fl-links {
  background: #fe6fa6;
  height: 262px;
  overflow: hidden; }
  .fl-links strong {
    display: block;
    text-indent: 8px;
    padding-top: 8px;
    font-size: 14px;
    margin-bottom: 4px;
    color: #fff; }
  .fl-links div {
    height: 217px;
    margin: 0 0 7px 8px;
    overflow: hidden; }
    .fl-links div a {
      float: left;
      background: rgba(255, 255, 255, 0.2);
      line-height: 19px;
      height: 19px;
      padding: 0 8px;
      margin: 0 3px 3px 0;
      color: #fff; }
      .fl-links div a:hover {
        background: #fff;
        color: #f40; }
    .fl-links div .tag-yh::after {
      background: url("../img/yellowh.png") no-repeat;
      width: 10px;
      height: 12px;
      content: '';
      display: inline-block; }

.fr-sidebar .fl-up {
  height: 200px;
  border-bottom: 1px solid #efefef;
  overflow: hidden; }

.fl-up-wra1 {
  float: left;
  width: 100px;
  border-right: 1px solid #efefef; }
  .fl-up-wra1 a {
    height: 80px;
    width: 80px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #efefef;
    position: relative;
    display: block;
    overflow: hidden; }
    .fl-up-wra1 a img {
      width: 100%; }
    .fl-up-wra1 a span {
      position: absolute;
      width: 80px;
      height: 20px;
      left: 10px;
      bottom: 10px;
      line-height: 20px;
      background: rgba(255, 255, 255, 0.8);
      transition: .1s all ease; }
      .fl-up-wra1 a span:hover {
        background: #fff;
        color: #f40; }

.fl-up-wra2 {
  float: left;
  width: 132px;
  height: 201px;
  overflow: hidden; }

.fl-down {
  height: 157px; }

.fl-down-wra1 {
  float: left;
  text-align: center;
  height: 140px;
  width: 201px;
  margin: 10px 0;
  overflow: hidden;
  position: relative; }
  .fl-down-wra1 img {
    width: 180px; }
  .fl-down-wra1 span {
    position: absolute;
    width: 131px;
    left: 10px;
    bottom: 0;
    overflow: hidden;
    line-height: 24px;
    padding-left: 50px;
    background: rgba(255, 255, 255, 0.8); }
    .fl-down-wra1 span i {
      position: absolute;
      background: #fe6fa6;
      left: 0;
      line-height: 24px;
      width: 50px;
      color: #fff; }

.fl-down-wra2 {
  float: left;
  width: 132px;
  border-left: 1px solid #efefef; }
  .fl-down-wra2 a {
    height: 61px;
    padding: 9px 10px;
    display: block;
    border-bottom: 1px solid #efefef; }
    .fl-down-wra2 a img {
      height: 60px;
      width: 60px;
      float: right; }
    .fl-down-wra2 a strong {
      display: block;
      margin-top: 6px;
      width: 56px;
      height: 18px; }

.fr-scwd {
  width: 100px;
  border-right: 1px solid #efefef; }

.fr-up-wra1 {
  margin-left: -1px; }
  .fr-up-wra1 a {
    height: 81px;
    margin-top: 1px; }

.fl-cont {
  border: 2px solid rgba(254, 111, 166, 0.3);
  border-left-color: transparent; }
  .fl-cont:hover {
    border: 2px solid #fe6fa6;
    border-left-color: transparent; }

.fl-cont2 {
  border: 2px solid rgba(81, 112, 236, 0.3);
  border-left-color: transparent; }
  .fl-cont2:hover {
    border: 2px solid #5170ec;
    border-left-color: transparent; }

.fl-cont3 {
  border: 2px solid rgba(96, 190, 13, 0.3);
  border-left-color: transparent; }
  .fl-cont3:hover {
    border: 2px solid #60be0d;
    border-left-color: transparent; }

.fl-sports-wra p {
  border-bottom: 1px solid #efefef;
  height: 74px;
  padding-top: 5px; }
  .fl-sports-wra p a {
    margin-left: 28px;
    float: left;
    text-align: center;
    display: block;
    width: 50px;
    height: 68px;
    line-height: 18px; }
    .fl-sports-wra p a img {
      width: 50px;
      height: 50px; }

.fr-cont2 {
  border: 2px solid rgba(255, 0, 85, 0.3);
  border-left-color: transparent; }
  .fr-cont2:hover {
    border: 2px solid #ff0055;
    border-left-color: transparent; }

.ads-list {
  margin-top: 5px;
  margin-bottom: 10px;
  height: 70px;
  text-align: center; }
  .ads-list a {
    display: inline-block;
    width: 880px; }

.show {
  display: block; }

.hide {
  display: none; }

.of2shop-tit2 {
  background-position: center -719px; }

.fashion-items-wra {
  margin-bottom: 10px; }
  .fashion-items-wra .fash-item-1 {
    background: #fff;
    margin-bottom: 10px;
    float: left;
    width: 221px;
    height: 258px;
    border-right: 2px solid #eaeaea;
    border-bottom: 1px solid #f0f0f0; }
    .fashion-items-wra .fash-item-1:hover {
      position: relative;
      z-index: 2;
      border-right-color: transparent;
      box-shadow: 1px 1px 0 #f40, -1px -1px 0 #f40, -1px 1px 0 #f40, -1px 1px 0 #f40;
      -webkit-box-shadow: 1px 1px 0 #f40, -1px -1px 0 #f40, -1px 1px 0 #f40, -1px 1px 0 #f40; }
  .fashion-items-wra .fash-item-4 {
    border-right: none; }

.all-fasion-wrapper {
  width: 892px; }

.fas-tit h3 {
  height: 18px;
  width: 115px;
  text-align: center;
  margin: 10px auto; }
  .fas-tit h3 a img {
    height: 18px; }

.ic-big {
  float: left;
  width: 90px;
  height: 200px;
  border: 1px solid #f0f0f0;
  position: relative;
  padding: 10px;
  margin-top: -1px; }
  .ic-big span {
    height: 42px;
    padding: 0 6px;
    text-align: left;
    color: #fff;
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 10px; }

.ic-sml {
  width: 89px;
  padding: 10px;
  border: none;
  height: 91px;
  border-top: 1px solid #f0f0f0; }
  .ic-sml img {
    width: 100%; }
  .ic-sml span {
    background: #fff;
    position: absolute;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    color: #3c3c3c; }
    .ic-sml span:hover {
      background: #fff;
      color: #F40; }

.xl-mr {
  border-right: 1px solid #f0f0f0; }

.of2shop-tit3 {
  background-position: center -679px; }

.tbhc-pic-cont {
  height: 150px; }

.tbhc-cont-tit strong {
  display: block;
  font-size: 14px;
  height: 21px;
  margin-top: 5px;
  margin-bottom: 4px;
  font-weight: bold;
  text-align: center; }
.tbhc-cont-tit em {
  height: 18px;
  text-align: center;
  display: block; }

.tbhc-links a {
  float: left;
  line-height: 22px;
  padding: 0 4px;
  width: 65px;
  text-align: center; }

.of2shop-tit4 {
  background-position: center -518px; }

.ic-sml-4 {
  width: 100px;
  padding: 10px;
  margin-right: -12px;
  height: 140px;
  text-align: center; }
  .ic-sml-4 img {
    width: 90px; }

.sh-tit1 {
  background-position: center -558px; }

.tqg-cont1-con {
  float: left;
  position: relative;
  width: 253px;
  padding-left: 15px;
  height: 117px;
  margin-bottom: 1px;
  margin-right: 1px;
  float: left;
  padding: 10px;
  background-color: #fff; }
  .tqg-cont1-con:hover {
    position: relative;
    box-shadow: 1px 1px 0 #f40,-1px 0px 0 #f40,0px -1px 0 #f40;
    -webkit-box-shadow: 1px 1px 0 #f40,-1px 0px 0 #f40,0px -1px 0 #f40; }
  .tqg-cont1-con h4 span {
    position: absolute;
    right: 20px;
    top: 10px;
    overflow: hidden;
    font-size: 14px;
    text-align: right;
    color: #dc3535;
    width: 140px;
    line-height: 24px; }
  .tqg-cont1-con h4 img {
    height: 18px;
    position: relative; }

.name-link {
  display: block;
  line-height: 16px;
  color: #666;
  margin-top: 2px;
  width: 148px; }
  .name-link h4 {
    font-weight: 400;
    color: #4c4d4e; }

.price {
  margin-top: 10px;
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  color: #dc3535;
  width: 140px;
  display: block; }
  .price i {
    font-size: 16px;
    font-family: "Microsoft Yahei"; }

.sold-count {
  line-height: 14px;
  color: #999;
  font-weight: 400;
  display: block;
  width: 140px; }

.tqg-con {
  margin-top: 16px; }
  .tqg-con img {
    float: right;
    width: 90px;
    height: 90px; }

.tttj-con {
  width: 183px; }

.name-link-tt span, .name-link-tt i {
  display: block;
  height: 18px;
  line-height: 18px;
  width: 82px;
  font-size: 14px; }
.name-link-tt span {
  font-weight: 700;
  color: #3C3C3C; }
.name-link-tt i {
  color: #666;
  font-size: 14px; }

.by-btn {
  color: #f40;
  display: block;
  height: 20px;
  line-height: 20px;
  border: 1px solid #f40;
  border-radius: 12px;
  width: 74px;
  text-align: center;
  margin-top: 15px; }

.c2extra {
  float: right; }

.by-btn1 {
  border-color: #427def;
  color: #427def; }

.scre-column2 {
  height: 70px;
  margin-top: 15px;
  text-align: center; }

.sale-con {
  background: #fff; }

.sale-cont-s {
  margin-top: 20px;
  padding: 10px 0 0;
  margin-bottom: 15px; }

.rmdp-tit {
  width: 100px;
  height: 10px;
  line-height: 20px;
  text-align: center;
  margin: 5px auto 15px;
  color: #3c3c3c;
  font-size: 18px;
  font-weight: 700; }

.rmdp-tit::before, .rmdp-tit::after {
  content: ' ';
  position: absolute;
  height: 0;
  line-height: 0;
  border-top: 1px solid #e6e6e6;
  width: 60px;
  top: 50%; }

.rmdp-tit::before {
  left: -78px; }

.rmdp-tit::after {
  right: -70px; }

.sale-cont-tit {
  padding-left: 10px;
  padding-bottom: 5px; }

.sale-nav-item {
  margin-top: 6px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  max-width: 1180px; }

.sale-nav-item a {
  border-right: 1px solid #e8e8e8;
  float: left;
  margin-left: -1px;
  margin-bottom: 10px;
  padding: 0 10px;
  color: #6c6c6c;
  line-height: 14px; }

.sale-nav-item a:hover {
  color: #f40; }

.s-group {
  float: left;
  margin-left: 1px; }

.sg-large {
  width: 19.6%; }

.sg-small {
  width: 13.5%; }

.s-item {
  height: 387px;
  width: 100%;
  position: relative;
  padding-top: 10px;
  border: 1px solid #e8e8e8;
  margin: -1px -1px 0 0; }
  .s-item:hover {
    border: 1px solid #f40;
    z-index: 5; }

.s-item-main {
  width: 214px;
  margin: 0 auto; }
  .s-item-main a {
    display: block;
    width: 100%; }
  .s-item-main .s-pic {
    width: 100%;
    display: block; }
    .s-item-main .s-pic img {
      width: 100%; }

.s-item-box-1 .s-item {
  height: 188px; }

.sg-small .s-item-main {
  width: 139px; }
.sg-small .s-price {
  font-size: 12px;
  margin-top: 4px; }

.s-price {
  margin: 14px 0 3px 0;
  line-height: 18px;
  color: #f40;
  float: left;
  font-weight: 700;
  font-family: arial;
  font-size: 16px; }

.s-by-count i {
  height: 14px;
  margin: 2px 5px 0 0;
  background: #8c4;
  color: #fff; }

.s-by-h {
  margin: 10px 0 0 0;
  line-height: 22px; }

.s-by-cal {
  margin-top: 38px;
  height: 24px;
  color: #9c9c9c; }

.s-hover {
  border: 1px solid #f40; }

.s-dn-con {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 18px; }
  .s-dn-con .s-hover-bg {
    background: #f40;
    position: absolute;
    opacity: .9;
    filter: alpha(opacity=90);
    top: 0;
    left: 0;
    height: 225px;
    width: 100%; }
  .s-dn-con .s-h-title {
    top: 122px;
    font-size: 14px;
    position: absolute;
    left: 10px;
    height: 20px;
    line-height: 20px;
    padding-right: 5px;
    color: #fff; }
  .s-dn-con .s-go {
    position: absolute;
    left: 10px;
    top: 170px;
    height: 30px;
    line-height: 30px;
    color: #f40;
    background: #fff;
    padding: 0 25px;
    border-radius: 5px; }

.sg-small .s-dn-con .s-hover-bg {
  height: 149px; }
.sg-small .s-dn-con .s-h-title {
  top: 58px;
  left: 8px; }
.sg-small .s-dn-con .s-go {
  left: 8px;
  top: 103px; }

.helper {
  margin-top: 40px;
  height: 140px; }
  .helper .h-mod {
    width: 25%;
    float: left; }
    .helper .h-mod .mod-wra {
      padding: 0 25px; }
      .helper .h-mod .mod-wra h4 {
        color: #3C3C3C;
        margin-bottom: 5px;
        font-weight: bold; }
        .helper .h-mod .mod-wra h4 i {
          float: left;
          font-size: 32px;
          color: #999; }
        .helper .h-mod .mod-wra h4 span {
          float: left;
          margin-left: 12px;
          padding-top: 12px;
          font-size: 16px; }
  .helper .h-list a {
    line-height: 21px;
    display: inline-block;
    margin-right: 10px;
    color: #999; }
    .helper .h-list a:hover {
      color: #f40; }

.footer-wra {
  width: 100%;
  background: #fff;
  padding-bottom: 9px;
  margin-top: 20px;
  max-width: 100%; }

.footer-list {
  padding-top: 7px;
  border-top: 1px solid #ddd;
  margin-bottom: 8px;
  line-height: 27px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px; }
  .footer-list a {
    padding: 0 7px 0 4px;
    border-right: 1px solid #ddd; }
  .footer-list .a-ym {
    border-right: none; }

.foote-wra2 p {
  padding-bottom: 8px; }
  .foote-wra2 p a {
    padding: 0  4px; }
  .foote-wra2 p .a-zscq {
    border-right: 1px solid #ddd;
    padding-right: 12px; }
  .foote-wra2 p em {
    color: #6C6C6C;
    margin-left: 30px; }

.tb-police {
  background: url("../img/tb-po.jpg") no-repeat -861px 0px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.tb-footer-la a {
  float: left;
  background: url("../img/tb-po.jpg") no-repeat;
  height: 40px;
  width: 36px;
  margin-right: 24px; }
.tb-footer-la .po-ho {
  background: url("../img/po-hous.gif") no-repeat; }

.c2extra {
  width: 290px; }

.tb-headline {
  background: #fff;
  margin-top: 10px;
  padding: 10px;
  height: 90px; }
  .tb-headline h3 {
    background-position: 0 -769px;
    position: relative; }
    .tb-headline h3 em {
      visibility: hidden; }
    .tb-headline h3 a {
      position: absolute;
      right: 4px;
      font-size: 12px;
      font-weight: 400; }

.icon-links, .tb-headline h3 {
  background-image: url("../img/icon-link.png");
  background-repeat: no-repeat; }

.hl-cont {
  height: 60px;
  overflow: hidden;
  width: 270px;
  margin-top: 12px; }
  .hl-cont .swiper-container {
    height: 180px; }
    .hl-cont .swiper-container .l-mod {
      height: 60px; }
      .hl-cont .swiper-container .l-mod a:hover em {
        color: #f40; }
      .hl-cont .swiper-container .l-mod a img {
        max-height: 60px;
        width: 60px;
        margin-right: 10px;
        margin-left: 2px;
        float: left; }
      .hl-cont .swiper-container .l-mod a em {
        color: #333;
        height: 18px;
        overflow: hidden;
        display: block;
        line-height: 18px;
        font-size: 14px;
        font-weight: 700; }
      .hl-cont .swiper-container .l-mod a p {
        color: #666;
        margin-top: 6px;
        height: 32px;
        overflow: hidden;
        line-height: 16px; }

.tb-discover-goods {
  background-color: #FFF; }

.goods-stretch {
  height: 1225px;
  margin-top: 9px;
  padding: 0 10px; }
  .goods-stretch h3 {
    background-position: 0 -634px;
    text-indent: -9999px;
    height: 51px; }

.goods-list {
  height: 1140px; }
  .goods-list a {
    margin-bottom: 15px;
    height: 100px;
    overflow: hidden;
    display: block; }
    .goods-list a:hover strong {
      color: #f40; }
    .goods-list a img {
      float: left;
      width: 100px;
      height: 100px;
      margin-right: 10px; }
    .goods-list a strong {
      display: block;
      font-size: 14px;
      height: 32px;
      overflow: hidden;
      width: 156px;
      line-height: 32px;
      font-weight: bold;
      color: #3C3C3C; }
    .goods-list a p {
      line-height: 20px;
      color: #666;
      height: 40px;
      overflow: hidden; }
    .goods-list a em {
      color: #68acf5;
      display: block;
      font-weight: 700;
      margin-top: 6px; }

.goods-refresh {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #666;
  cursor: pointer; }
  .goods-refresh:hover {
    color: #f40; }

.discover-shop {
  background: #fff; }

.shop-stretch {
  margin-top: 10px;
  height: 1066px;
  overflow: hidden; }
  .shop-stretch h3 {
    background-position: 8px -791px;
    text-indent: -9999px;
    height: 36px; }

.shop-list {
  height: 1002px; }
  .shop-list li {
    height: 220px;
    padding: 14px 8px 14px 10px;
    border-bottom: 2px solid #f5f5f5; }
  .shop-list .shop-list-last {
    border-bottom: none; }

.shop-thumbs {
  margin-top: 8px; }
  .shop-thumbs .shop-big-pic {
    width: 180px;
    height: 180px;
    margin-right: 1px;
    margin-bottom: 2px;
    float: right; }
  .shop-thumbs a {
    float: right;
    width: 89px;
    height: 89px;
    margin-right: 1px;
    margin-bottom: 2px;
    overflow: hidden; }
    .shop-thumbs a img {
      height: 100%;
      width: 100%; }

.shop-tit {
  font-size: 14px;
  font-weight: bold;
  color: #3C3C3C; }
  .shop-tit:hover {
    color: #f40; }

.jrtm-wra {
  width: 290px;
  overflow: hidden;
  margin-top: 14px; }
  .jrtm-wra h4 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold; }
  .jrtm-wra div {
    text-align: center;
    width: 290px;
    height: 242px; }
    .jrtm-wra div a {
      display: inline-block;
      width: 300px;
      height: 250px; }
      .jrtm-wra div a img {
        width: 100%; }

.iconfont {
  color: #9c9c9c;
  font-size: 12px; }

.icon-xl {
  margin-top: 15px;
  line-height: 6px;
  display: block;
  float: right;
  margin-left: 6px; }

.icon-highlight {
  color: #f40;
  float: left;
  margin-right: 5px;
  margin-top: -2px; }

.ser-nav-list li:hover .them-icon {
  color: #fff;
  font-weight: bold; }

.them-icon {
  color: #FF905B;
  font-size: 18px; }

.fixed-logo {
  z-index: 10001;
  left: 0;
  width: 100%;
  padding: 7px 0;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px;
  position: fixed;
  top: 0;
  height: 35px; }
  .fixed-logo h2 {
    display: block;
    width: 80px;
    height: 33px;
    background: url("../img/logo-small.jpg") no-repeat;
    text-indent: -99999em; }
  .fixed-logo h1 {
    display: none; }
  .fixed-logo .search-ft {
    display: none; }
  .fixed-logo .search-tab {
    display: none; }
  .fixed-logo .se-details {
    display: none; }
  .fixed-logo .tbh-load {
    display: none; }

/*# sourceMappingURL=index.css.map */
